@model Department

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" action="/Departments/Create">
  <div class="form-group">
    <label class="form-label">Department Name</label>
    <input type="text" class="form-control" placeholder="Enter department name" name="name">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Create</button>
</form>

