@model List<Department>


@{
    ViewData["Title"] = "Index";
}

<h1>Department List</h1>

<a href="Departments/Create" type="button" class="btn btn-primary">Add New</a>

    <table class="table">
        <thead>
            <tr>
            <th style="width: 5%;">id</th>
            <th>name</th>
            <th style="width: 15%;">Process</th>
            </tr>
        </thead>
    
        <tbody>
    @foreach(var record in Model)
        {
            <tr>
                <td>@record.id</td>
                <td>@record.name</td>
                <td>
                    <a class="btn btn-outline-success btn-sm" href="/Departments/Update/@record.id">Update</a>
                    <a class="btn btn-outline-danger btn-sm" href="/Departments/Delete/@record.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>